.popup__container {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   min-width: 282px;
   min-height: 322px;
   background-color: #FFFFFF;
   border-radius: 10px;
   margin-top: 123px;
}

@media screen and (min-width: 1024px) {
   .popup__container {
      min-width: 430px;
      min-height: 330px;
      margin-top: 195px;
   }
}