.footer {
   display: flex;
   flex-direction: row;
   justify-content: start;
   margin: 0 auto;
   padding: 48px 0 36px 19px;

}

@media screen and (min-width: 768px) {
   .footer {
      margin: 0 auto;
      padding: 48px 0 36px 19px;
      max-width: 600px;
      padding-left: 15px;
   }
}

@media screen and (min-width: 1024px) {
   .footer {

      max-width: 880px;
      padding: 70px 0 36px 0;
   }
}